body{
	margin: 0;
	padding: 0;
}
.topnav{
	background-color: #24A5DC;
	overflow: hidden;
}
ul{
	list-style-type: none;
	display: inline-block;
	margin: 0;
	padding: 0;
	overflow: hidden;

}
li{
	float: left;
}
li a{
	display: block;
	color: white;
	padding: 24px 50px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;

}
li a:hover{
	background-color: #DCAC24;
}
li a.active{
	background-color: #DCAC24;
}
#outPopUp{
	position: absolute;
	width: 900px;
	height: 600px;
	border-radius: 30px;
	border: 1px solid #ddd;
	top: 10%;
	left: 15%;
	background: white;
}
.welcome{
	border-radius: 30px;
}
.homeimage{
	margin: 4%;
	border: 1px solid #ddd;
	float: left;
	width: 300px;
	height: 300px;
	border-radius: 6%;
	position: relative;
	background-color: transparent;
	overflow: hidden;
}
.feature-box-content{
	position: absolute;
	top: 0;
	text-align: left;
	font-family: arial,sans-serif;
	width: 100%;
}
div.about p{
	margin: 15px;
	font-size: 25px;
	text-align: justify;
}
div.abtmarq marquee{
	font-family: castledown-heavy,arial,sans-serif;
	margin-top: 5px;
	margin-bottom: 10px;
	margin-right: 150px;
	margin-left: 150px;
}
div.abtbtn button{
	background-color: #DCAC24;
	padding: 10px;
	border-radius: 5px;
	font-size: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
}
div.gallery{
	margin: 30px;
	border: 3px solid #ccc;
	float: left;
	width: 300px;
}
div.gallery img{
	width: 100%;
	height: auto;
}
.gallerypage{
	margin-left: 6%;
	margin-top: 3%
}
.feature-box-content h3{
	font-family: castledown-heavy,arial,sans-serif;
	font-size: 30px;
	margin: 0;
	color: #fff;
	position: absolute;
	top: 30%;
	padding: 30px 20px 20px;
}
input[type=submit]{
	background-color: #4caf50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
input[type=submit]:hover{
	background-color: #45a049;
}
input[type=text],select, textarea{
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

img{
	position: relative;
	width: 100%;
	float:right;
}
.pyp{
	width: 60px;
	height: 60px;
	float: left;
	margin: 0;
}

