.center{
	text-align: center;
}
.angela{
	margin-bottom: 20px;
	margin-left: 20px;

}
.maggie{
	margin-bottom: 20px;
	margin-left: 20px;
}
.occ{
	margin-left: 250px
}
.freeCodeCamp{
	margin-left: 270px
}
.def{
	margin-left: 120px;
}
.maybe{
	margin-left: 298px;
}
.desk{
	margin-bottom: 20px;
	margin-left: 25px;
}
.title{
	
	background-color: #ADD8E6;
	height: 600px;
	padding-top: 5px;
}
.pony{
	background-color: white;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 10px;
	height: 600px;
	padding-top: 20px;
}
.occupation{
	margin-left: 20px;

}
.fred{
	margin-left: 350px;
	padding-top: 40px;
}
.law{
	margin-left: 250px;
	padding-top: 30px;
}
.promise{
	margin-left: 167px;
}
.paa{
	margin-left: 310px;
}
.naomi{
	margin-left: 310px;
}